.container {
  text-align: center;
  margin-top: 100px;
  font-family: Arial, sans-serif;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
}
button:first-of-type {
  background-color: green;
  color: white;
}
button:last-of-type {
  background-color: red;
  color: white;
}
